@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    font-family: 'Hammersmith+One';
    background-color: var(--background);
    padding-bottom: 30px;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}
.hidden {
    display:none;

}
#shadow {
    max-height: 400px;
    border: 1px solid black;
}
#dog-house {
    width: 350px;
    padding: 10px;
    text-align: center;
    background: red;
    color: white;
    font-weight: 800;
    border: 1px solid black;
    border-radius: 25px;

}
